.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
}

button {
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
    background: black;
    color: white;
}

